@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    margin-right: 20px;
}

.chat li.left .chat-body {
    margin-left: 0px;
}

.chat li.right .chat-body {
    margin-right: 0px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
 }

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

@media screen and (min-width: 1240px) {
    .body-panel {
        overflow-y: scroll;
        height: 70vh;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .body-panel {
        overflow-y: scroll;
        height: 35vh;
    }
}

.list-counter-square {
    list-style: none;
    counter-reset: list;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-counter-square > li {
    position: relative;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-left: 1.75rem;
    margin-bottom: .25rem;
    padding-left: 1rem;
    padding-right: .5rem;
    color: #fff;
    background: #7b1fa2;
    white-space: nowrap;
    border-radius: .25rem
}

.list-counter-square > li:last-child {
    margin-bottom: 0;
}

.list-counter-square > li::before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -2rem;
    top: -.25rem;
    bottom: -.25rem;
    width: 2.5rem;
    line-height: 2rem;
    border-radius: 1.25rem;
    border: .25rem solid #fff;
    text-align: center;
    color: #fff;
    background: #7b1fa2;
}

.container {
    min-width: 320px;
}

.panel-primary {
    margin: 5px;
}

ul.hr {
    margin: 0;
    padding: 4px;
}

ul.hr li {
    display: inline;
    padding: 5px;
}

ul.hr li:hover {
    border: 1px solid gray;
    border-radius: 7px;
}

#sending-message-btn {
    margin-top: 10px;
}