<ul class="chat">
    @foreach (var m in ViewBag.Messages)
    {
        <li class="left clearfix">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">@m.Author</strong>
                    <small class="text-muted">@m.DateTime</small>
                </div>
                <p>
                    @m.Text
                </p>
            </div>
        </li>
    }
</ul>